# Copy to .env locally, and add the same keys in Vercel → Settings → Environment Variables

MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/
MONGODB_DB_NAME=gps_dhamthal

JWT_SECRET=change-this-to-a-long-random-secret

ADMIN_EMAIL=admin@gps.com
ADMIN_PASSWORD=change-this-password

SCHOOL_WHATSAPP=03338702916
SCHOOL_EMAIL=gpsdhamthal@mail.com
SCHOOL_WEBSITE=https://gps-dhamthal.vercel.app
